[[extend 'layout.html']]

<!-- <style>
[v-cloak] {
      display: none;
}
</style> -->

<div class="section">
  [[=form]]
  <!-- <form>
    <label>First Name:</label>
    <input type="text" required v-model="add_first_name">

    <label>Last Name:</label>
    <input type="text" required v-model="add_last_name">
    
    <label>Image:</label>
    <input type="text" required v-model="add_image">
    
    <label>Hobbies:</label>
    <input type="text" required v-model="add_hobbies">
    
    <label>Location:</label>
    <input type="text" required v-model="add_location">
    
    <label>Description:</label>
    <input type="text" required v-model="add_description">
  
  </form>
  
  <div class="field">
    <div class="control">
      <input type="submit" @click="add_profile" value="Add Profile" class="button is-primary">
      <input type="submit" @click="set_add_status(false)" value="Cancel" class="button is-warning">
    </div>
  </div> -->

</div>

<!-- [[block page_scripts]]
<script>
  
</script>
<script src="js/account_settings.js"></script> -->