[[extend 'layout.html']]

<style>
[v-cloak] {
     display: none;
}
</style>

<div class="section" id="vue-target" v-cloak>
  <div class="container block">
    <h1 class="title">Events</h1>
    <table class="table is-striped is-fullwidth">
      <tr>
        <th>Event Title</th>
        <th>Event Image</th>
        <th>Event Location</th>
        <th>Event Description</th>
        <th>Event Attachment</th>
        <th></th>
      </tr>
      <tr v-for="r in rows">
        <td>{{r.event_title}}</td>
        <td>{{r.event_image}}</td>
        <td>{{r.event_location}}</td>
        <td>{{r.event_description}}</td>
        <td>{{r.event_attachment}}</td>
        <td><button @click="delete_event(r._idx)" class="button is-danger">
          <i class="fa fa-trash"></i></button></td>
      </tr>
    </table>
    <button @click="set_add_status(true)" class="button is-primary">
      <i class="fa fa-plus fa-fw"></i> Create Event
    </button>
  </div>
  <div v-if="add_mode" class="container block">
    <div class="title">Create Event</div>
    <div class="form">

      <!-- This looks like a form, but is not.  We just need the inputs. -->
      <div class="field">
        <label class="label">Event Title:</label>
        <div class="control">
          <input type="text" v-model="add_event_title" class="input">
        </div>
      </div>
      <div class="field">
        <label class="label">Event Image:</label>
        <div class="control">
          <input type="image" v-model="add_event_image" class="upload">
        </div>
      </div>
      <div class="field">
        <label class="label">Event Location:</label>
        <div class="control">
          <input type="text" v-model="add_event_location" class="input">
        </div>
      </div>
      <div class="field">
        <label class="label">Event Description:</label>
        <div class="control">
          <input type="text" v-model="add_event_description" class="input">
        </div>
      </div>
      <div class="field">
        <label class="label">Event Attachment:</label>
        <div class="control">
          <input type="image" v-model="add_event_attachment" class="upload">
        </div>
      </div>
      <div class="field">
        <label class="label">Invite Users:</label>
        <div class="control">
          <input type="text" v-model="add_event_pending_list" class="input">
        </div>
      </div>
      <div class="field">
        <div class="control">
          <input type="submit" @click="add_event" value="Add" class="button is-primary">
          <input type="submit" @click="set_add_status(false)" value="Cancel" class="button is-warning">
        </div>
      </div>
    </div>
  </div>

</div>


[[block page_scripts]]
<!-- Loads the index-specific js for Vue -->
<script>
  let load_events_url = "[[=XML(load_events_url)]]";
  let add_event_url = "[[=XML(add_event_url)]]";
  let delete_event_url = "[[=XML(delete_event_url)]]";
</script>
<script src="js/index.js"></script>
[[end]]