[[extend 'layout.html']]


<div class="container is-max-widescreen">
  <section class="section">
    <div class="block">
      <div class="box has-background-link is-medium">

        <div class="columns is-vcentered">
          <h1 class="title" style="color:white">Some Event Title</h1>
        </div>
      </div>
      
      <div class="field is-horizontal">
        <div class="control">
          <div class="select is-fullwidth is-info is-outlined">
            <select>
              <option>Announcment</option>
              <option>Poll</option>
              <option>Calendar</option>
            </select>
          </div>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <textarea class="textarea" placeholder="Announcment..."></textarea>
        </div>
      </div>
      <div class="field is-grouped">
        <div class="control">
          <button class="button is-primary">Submit</button>
        </div>
        <div class="control">
          <button class="button is-link is-light">Cancel</button>
        </div>
      </div>

      <div class="card">
        <header class="card-header">
          <p class="card-header-title">
            New Announcment
          </p>
  
        </header>
        <div class="card-content">
          <div class="content">
            Meet at this mountain over by the river thats next to the farm down the road at 10am on Friday. Don't forget to bring shoes!
          </div>
          <footer class="card-footer">
            <a href="#" class="card-footer-item">Edit</a>
            <a href="#" class="card-footer-item">Delete</a>
            <a href="#" class="card-footer-item">Reply</a>
          </footer>
        </div>
      </div>
    </div>
    <a class="button is-primary is-light" href="[[=URL('edit_event')]]">
      <span>Settings</span>
    </a>
  </section>

<div class="section">
  <div class="block">
    <div class="box has-background-link is-medium">
      <div class="columns is-vcentered">
     <h1 class="title" style="color:white">Discussion</h1>
      </div>
      
    <div id="comments" class="block">
      <!-- Here will go the comments. -->
    </div>

    <div class="block">
      <div class="field">
        <p class="control">
          <input class="input" type="text" id="new_comment" value=""/>
        </p>
      </div>
      <button class="button is-primary" id="add_button">Add</button>
    </div>

  </div>
</div>
</div>

[[block page_scripts]]
<script src="js/jquery-3.6.0.js"></script>
<script src="js/index.js"></script>
[[end]]