[[extend 'layout.html']]

<style>
  [v-cloak]{
    display: none;
  }
</style>


<div class="container is-max-widescreen">
  <section class="section" id="vue-target" v-cloak>
    <div class="block">
      <div class="box has-background-link is-medium">

        <div class="columns is-vcentered">
          <figure class="image is-128x128">
            <img src="[=icon]">
          </figure>
          <h1 class="title" style="color:white">[[=title]]</h1>
        </div>
        <div>
          <p style="color:white">[[=location]], [[=date]]</p>
        </div>
      </div>
      <div class="box has-background-info is-medium">

        <div class="columns is-vcentered">
          <p style="color:white">[[=description]]</h1>
        </div>
      </div>
      {{set_is_creator()}}
      <span v-if="is_creator">
        <div class="field is-horizontal">
          <div class="control">
            <div class="select is-fullwidth is-info is-outlined">
              <select>
                <option @click="set_add_status(true)">Announcment</option>
              </select>
            </div>
          </div>
        </div>
        <span v-if="add_mode">
          <div class="field">
            <div class="control">
              <div>
                <input type="text" v-model="add_title" class="input" placeholder="Title...">
              </div>
              <div>
                <textarea class="textarea" v-model="add_body" placeholder="Announcment..."></textarea>
              </div>
              
            </div>
          </div>
          <div class="field is-grouped">
            <div class="control">
              <input @click="add_post" class="button is-primary" value="Submit" class="button is-primary">
            </div>
            <div class="control">
              <input @click="set_add_status(false)" value="Cancel" class="button is-link is-light">
            </div>
          </div>
        </span>
      </span>

      <div v-for="a in announcements.slice().reverse()" class="card">
        <header class="card-header">
          <p class="card-header-title">
            {{a.title}}
          </p>
  
        </header>
        <div class="card-content">
          <div class="content">
            {{a.body}}
          </div>
          <footer v-if="is_creator" class="card-footer">
            <a @click="delete_post(a._idx)" class="card-footer-item">Delete</a>
          </footer>
        </div>
      </div>
      
    </div>
    <a v-if="is_creator" class="button is-primary is-light" href="[[=URL('edit_event', signer=url_signer)]]">
      <span>Settings</span>
    </a>
  </section>

<div class="section">
  <div class="block">
    <div class="box has-background-link is-medium">
      <div class="columns is-vcentered">
     <h1 class="title" style="color:white">Discussion</h1>
      </div>
      
    <div id="comments" class="block">
      <!-- Here will go the comments. -->
    </div>

    <div class="block">
      <div class="field">
        <p class="control">
          <input class="input" type="text" id="new_comment" value=""/>
        </p>
      </div>
      <button class="button is-primary" id="add_button">Add</button>
    </div>

  </div>
</div>
</div>

[[block page_scripts]]
<script>
  let username = "[[=username]]";
  let creator = "[[=creator]]";
  let event_id = "[[=id]]";
  let add_announcement_url = "[[=XML(add_announcement_url)]]";
  let delete_announcement_url = "[[=XML(delete_announcement_url)]]";
  let load_announcements_url = "[[=XML(load_announcements_url)]]";
</script>
<script src="js/event.js"></script>
[[end]]