[[extend 'layout.html']]

<style>
  [v-cloak]{
    display: none;
  }
</style>


<div class="container is-max-widescreen">
  <section class="section" id="vue-target" v-cloak>
    <div v-if="change_mode" class="block">
      <table class="table is-striped is-fullwidth">
        <tr>
          <th>Events</th>
        </tr>
        <tr v-for="e in events_list">
          <td>{{e.event_title}}</td>
          <td>
            <a @click="load_event(e._idx)" class="button is-primary">
              load
            </a>
          </td>
        </tr>
      </table>
    </div>
    <div>
      <a v-if="!change_mode" @click="set_change_status(true)" class="button is-primary">
        Show Events
      </a>
      <a v-if="change_mode" @click="set_change_status(false)" class="button is-primary is_light">
        Hide Events
      </a>
    </div>
    <div v-if="!change_mode" class="block">
      <div class="box has-background-link is-medium">

        <div class="columns is-vcentered">
          <figure class="image is-128x128">
            <img :src=icon>
          </figure>
          <h1 class="title" style="color:white">{{title}}</h1>
        </div>
        <div>
          <p style="color:white">{{location}}, {{date}}</p>
        </div>
      </div>
      <div class="box has-background-info is-medium">

        <div class="columns is-vcentered">
          <p style="color:white">{{description}}</h1>
        </div>
      </div>
      <span v-if="is_creator">
        <div class="field is-horizontal">
          <div class="control">
            <div class="select is-fullwidth is-info is-outlined">
              <select>
                <option @click="set_add_status(true)">Announcment</option>
              </select>
            </div>
          </div>
        </div>
        <span v-if="add_mode">
          <div class="field">
            <div class="control">
              <div>
                <input type="text" v-model="add_title" class="input" placeholder="Title...">
              </div>
              <div>
                <textarea class="textarea" v-model="add_body" placeholder="Announcment..."></textarea>
              </div>
              
            </div>
          </div>
          <div class="field is-grouped">
            <div class="control">
              <input @click="add_post" class="button is-primary" value="Submit" class="button is-primary">
            </div>
            <div class="control">
              <input @click="set_add_status(false)" value="Cancel" class="button is-link is-light">
            </div>
          </div>
        </span>
      </span>

      <div v-for="a in announcements.slice().reverse()" class="card">
        <header class="card-header">
          <p class="card-header-title">
            {{a.title}}
          </p>
  
        </header>
        <div class="card-content">
          <div class="content">
            {{a.body}}
          </div>
          <footer v-if="is_creator" class="card-footer">
            <a @click="delete_post(a._idx)" class="card-footer-item">Delete</a>
          </footer>
        </div>
      </div>
      
    </div>
    <a v-if="is_creator" class="button is-primary is-light" href="[[=URL('edit_event', signer=url_signer)]]">
      <span>Edit Event</span>
    </a>
    
    <div class="section">
  <div class="block">
    <div class="box has-background-link is-medium">
      <h1 class="title">Discussion Forum</h1>

  <section class="section">
    <div class="">
      <div class="is-fullwidth">
        <div class="field">
          <textarea v-model="currentpost" class="textarea is-fullwidth" placeholder="Send a message!"></textarea>
        </div>
        <button class="button is-primary" @click="add_message">Message</button>
        <button class="button is-warning" @click="clear_message">Cancel</button>
      </div>
    </div>
  </section>

  <div class="container block has-background-link">
        <div class="tile is-child notification has-background-link" v-for="m in messages">
          <div class="box has-background-light">
            <div class="has-text-grey">{{m.entered_name}}</div>
            <div>{{m.post_message}}</div>
            <div class="is-size-4">
              <span v-if="user_email==m.user_email"  @click="delete_message(m._idx)" class="has-text-danger level-right">
                <i class="fa fa-trash fa-fw"></i>
            </span>
          </div>
          </div>
          
          </div>
          </div>

  </div>
</div>
</div>
  </section>



[[block page_scripts]]
<script>
  let signer = "[[=url_signer]]";
  let username = "[[=username]]";
  let obtain_gcs = "[[=XML(obtain_gcs)]]";
  let add_announcement_url = "[[=XML(add_announcement_url)]]";
  let delete_announcement_url = "[[=XML(delete_announcement_url)]]";
  let load_announcements_url = "[[=XML(load_announcements_url)]]";
  let load_user_events_url = "[[=XML(load_user_events_url)]]";
  let load_event_details_url = "[[=load_event_details_url]]";
  
  let get_messages_url = "[[=XML(get_messages_url)]]";
  let user_email = "[[=XML(user_email)]]";
  let usern = "[[=XML(usern)]]";
  let add_message_url = "[[=XML(add_message_url)]]";
  let delete_message_url = "[[=XML(delete_message_url)]]";
</script>
<script src="js/event.js"></script>
[[end]]