[[extend 'layout.html']]


<style>
[v-cloak] {
  display: none;
}
</style>

<div class="section" id="vue-target" v-cloak>
  <div class="container block">
    <h1 class="title">[[=message]]</h1>
    
    <table class="table is-striped is-fullwidth">
      <tr><h2 class="title">Profile Details</h1></tr>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Hobbies</th>
        <th>Location</th>
        <th>Description</th>
        <th></th>
      </tr>
      <tr v-for="pr in profile_rows">
        <td>{{pr.profile_first_name}}</td>
        <td>{{pr.profile_last_name}}</td>
        <td>{{pr.profile_hobbies}}</td>
        <td>{{pr.profile_location}}</td>
        <td>{{pr.profile_description}}</td>
      </tr>
    </table>
    <table class="table is-striped is-fullwidth">
      <tr><h2 class="title">Events</h1></tr>
      <tr>
        <th>Event Title</th>
        <th>Event Location</th>
        <th>Event Description</th>
        <th></th>
      </tr>
      <tr v-for="r in rows">
        <td>{{r.event_title}}</td>
        <td>{{r.event_location}}</td>
        <td>{{r.event_description}}</td>   
      </tr>
    </table>
    <button @click="set_add_status(true)" class="button is-primary">Profile Settings</button>
  </div>
  <div v-if="add_mode" class="container block">
    <div class="title">Profile Settings</div>
    <div class="form">

      <!-- This looks like a form, but is not.  We just need the inputs. -->
      <div class="field">
        <label class="label">First Name:</label>
        <div class="control">
          <input type="text" v-model="add_first_name" class="input">
        </div>
      </div>

      <div class="field">
        <label class="label">Last Name:</label>
        <div class="control">
          <input type="text" v-model="add_last_name" class="input">
        </div>
      </div>
      <div class="field">
        <label class="label">Hobbies:</label>
        <div class="control">
          <input type="text" v-model="add_hobbies" class="input">
        </div>
      </div>

      <div class="field">
        <label class="label">Location:</label>
        <div class="control">
          <input type="text" v-model="add_location" class="input">
        </div>
      </div>

      <div class="field">
        <label class="label">Description:</label>
        <div class="control">
          <input type="text" v-model="add_description" class="input">
        </div>
      </div>
      <div class="field">
        <div class="control">
          <input type="submit" @click="add_profile" value="Add" class="button is-primary">
          <input type="submit" @click="set_add_status(false)" value="Cancel" class="button is-warning">
        </div>
      </div>
    </div>
  </div>

</div>

[[block page_scripts]]
<script>
  let account_settings_url = "[[=XML(account_settings_url)]]";
  let image_upload_url = "[[=XML(image_upload_url)]]";
  let attachment_upload_url = "[[=XML(attachment_upload_url)]]";
  let load_events_url = "[[=XML(load_events_url)]]";
  let add_event_url = "[[=XML(add_event_url)]]";
  let delete_event_url = "[[=XML(delete_event_url)]]";
  let load_profile_url = "[[=XML(load_profile_url)]]";
</script>
<script src="js/index.js"></script>
[[end]]