[[extend 'layout.html']]
<style>
  [v-cloak] {
       display: none;
  }
  </style>
<div class="section" id="vue-target" v-cloak>
  


  <div class="container block">
    <h1 class="title">Notifications</h1>

  <!-- Put here your Vue.js template -->
  <div class="tabs is-boxed is-centered">
    <ul>
      <li :class="{'is-active': tab==='all'}"><a @click="set_tab('all')">All</a></li>
      <li :class="{'is-active': tab==='pending'}"><a @click="set_tab('pending')">Pending</a></li>
      <li :class="{'is-active': tab=== 'accepted'}"><a @click="set_tab( 'accepted')">Accepted</a></li>
    </ul>
   
   </div>
<!-- Tab content -->
<div v-if="tab==='all'">
 
  
  <div v-for="r in rows.slice().reverse()">

    <div class="notification mb-5">
      <p class="title is-3 is-spaced"> Event title : {{r.event_title}}</p>
    
      <p class="title is-5 is-spaced" > owner: {{r.event_creator}} , location: {{r.event_location}}</p>

      <p>{{r.event_description}}</p>
    </div>
 
  
  </div>
  
</div>
</div>
<div v-if="tab==='pending'" >
  <h3>Pending notifications</h3>
  
  <div v-for= "r in rows">
    <div v-if="((r.accepted === show_accepted) || show_all)">
      <!-- here you display the notification r -->
      
    </div>
  
  </div>
</div>

<div v-if="tab==='accepted'" >
  <h3>Accepted notifications</h3>
    <div v-for= "r in rows">
    <div v-if="((r.accepted === show_accepted) || show_all)">
      <!-- here you display the notification r -->
      
    </div>
  
  </div>
</div>  
</div>

  [[block page_scripts]]
  
  <script>
     let load_events_url = "[[=XML(load_events_url)]]";
  </script>
  <script src="js/notifications.js"></script>
  [[end]]