[[extend 'layout.html']]
<!-- cite: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_js_dropdown  -->
<div class="tabs is-boxed is-centered">
  <ul>
    <li class="is-active">
      <a>
        <span class="icon is-small"></span>
        <span>All</span>
      </a>
    </li>
    <li>
      <a>
        <span class="icon is-small"></span>
        <span>Pending</span>
      </a>
    </li>
    <li>
      <a>
        <span class="icon is-small"></span>
        <span>Accepted</span>
      </a>
    </li>
    
  </ul>
</div>

