[[extend 'layout.html']]

<h1 class="title">Welcome to Meetup Organizer</h1>
<section class= "section">
    <h2 class="subtitle">Ever wanted to organize an event but couldn't find a fast, efficient way to get the information out and everyone on the same page?</h2>
    <h2 class="subtitle">Well now you can!</h2>

</section>

<section class="section">
    <div class="columns block is-mobile">
        <div class="column is one-third">
            <div class="box">
                <figure class="image is-square">
                    <img src="">
                </figure>
            </div>
        </div>
        <div class="column is two-thirds">
            <div class="block">Insert text about first image</div>
        </div>
    </div>
</section>

<section class="section">
    <div class="columns block is-mobile">
        <div class="column is two-thirds">
            <div class="column is two-thirds">
                <div class="block">Insert text about first image</div>
            </div>
        </div>
        <div class="column is one-third">
            <div class="box">
                <figure class="image is-square">
                    <img src="">
                </figure>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="columns block is-mobile">
        <div class="column is one-third">
            <div class="box">
                <figure class="image is-square">
                    <img src="">
                </figure>
            </div>
        </div>
        <div class="column is two-thirds">
            <div class="block">Insert text about first image</div>
        </div>
    </div>
</section>