<!DOCTYPE html>
<html lang="en">
  <head>
    <base href="[[=URL('static')]]/">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="data:image/x-icon;base64,AAABAAEAAQEAAAEAIAAwAAAAFgAAACgAAAABAAAAAgAAAAEAIAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAPAAAAAA=="/>
    <link rel="stylesheet" href="css/bulma.css">
    <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.css">
    [[block page_head]]<!-- individual pages can customize header here -->[[end]]
  </head>
<div class="section">
    <h1 class="title has-text-centered">Welcome to Meetup Organizer</h1>
    <section class= "section">
        <h2 class="subtitle has-text-centered">Ever wanted to organize an event but couldn't find a fast, efficient way to get the information out and everyone on the same page?</h2>
        <h2 class="subtitle has-text-centered">Well we're here to help! Meetup Organizer creates a quick and efficient way for making events, inviting your friends, and creating a discussion
            channel for you to make posts and talk to each other about all the fun and excitement you'll have!
        </h2>
        <h2 class="subtitle has-text-centered">Best of all, it's free! Sign up today and see what we're all about
        </h2>
        <section class="section">
            <div class="columns block is-mobile">
                <div class="column is-max-widescreen has-text-centered">
                    <div class="section">
                        <a class="button is-link" href="[[=URL('auth/register')]]">Sign up</a>
                        <a class="button is-success" href="[[=URL('auth/login')]]">Log in</a>
                    </div>
                </div>
            </div>
        </section>
    </section>
</div>



<section class="section">
    <div class="columns block is-mobile">
        <div class="column is one-third">
            <div class="box">
                <figure class="image is-square">
                    <img src="https://64.media.tumblr.com/07c6d8f5c6d91ad6a802b8279c218c0a/cdb2146a958fdd84-3a/s540x810/248aea1adc116506e6c650520d928e4eec734d1c.pnj">
                </figure>
            </div>
        </div>
        <div class="column is two-thirds">
            <div class="block">Create events, inviting friends to join and participate in a message board discussion.
                The event owner can then make announcements that display at the top for extra visibility.</div>
        </div>
    </div>
</section>

<section class="section">
    <div class="columns block is-mobile">
        <div class="column is two-thirds">
            <div class="column is two-thirds">
                <div class="block">Notifications are sent to each person, showing a list of all events that person has been invited to, while also showing a pending
                    tab for those that wish to accept them.
                </div>
            </div>
        </div>
        <div class="column is one-third">
            <div class="box">
                <figure class="image is-square">
                    <img src="https://64.media.tumblr.com/1bc031e626d54c6b099d8335b3e7b83f/0c9268068f8c9afb-21/s540x810/ff58dfbcdec3b306fe7ffc7d2c682eb364fa1799.pnj">
                </figure>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="columns block is-mobile">
        <div class="column is one-third">
            <div class="box">
                <figure class="image is-square">
                    <img src="https://64.media.tumblr.com/07c6d8f5c6d91ad6a802b8279c218c0a/cdb2146a958fdd84-3a/s540x810/248aea1adc116506e6c650520d928e4eec734d1c.pnj">
                </figure>
            </div>
        </div>
        <div class="column is two-thirds">
            <div class="block">The main page shows off your profile, showing your name, location, hobbies, and description of yourself while showing a condensed list of the events coming up.</div>
        </div>
    </div>
</section>
</html>