<!DOCTYPE html>
<html lang="en">
  <head>
    <base href="[[=URL('static')]]/">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="data:image/x-icon;base64,AAABAAEAAQEAAAEAIAAwAAAAFgAAACgAAAABAAAAAgAAAAEAIAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAPAAAAAA=="/>
    <link rel="stylesheet" href="css/bulma.css">
    <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.css">
    [[block page_head]]<!-- individual pages can customize header here -->[[end]]
  </head>
<div class="section">
    <h1 class="title has-text-centered">Welcome to Meetup Organizer</h1>
    <section class= "section">
        <h2 class="subtitle has-text-centered">Ever wanted to organize an event but couldn't find a fast, efficient way to get the information out and everyone on the same page?</h2>
        <h2 class="subtitle has-text-centered">Well now you can!</h2>
        
        <section class="section">
            <div class="columns block is-mobile">
                <div class="column is-max-widescreen has-text-centered">
                    <div class="section">
                        <a class="button is-link" href="[[=URL('auth/register')]]">Sign up</a>
                        <a class="button is-success" href="[[=URL('auth/login')]]">Log in</a>
                    </div>
                </div>
            </div>
        </section>
    </section>
</div>



<section class="section">
    <div class="columns block is-mobile">
        <div class="column is one-third">
            <div class="box">
                <figure class="image is-square">
                    <img src="">
                </figure>
            </div>
        </div>
        <div class="column is two-thirds">
            <div class="block">Insert text about first image</div>
        </div>
    </div>
</section>

<section class="section">
    <div class="columns block is-mobile">
        <div class="column is two-thirds">
            <div class="column is two-thirds">
                <div class="block">Insert text about first image</div>
            </div>
        </div>
        <div class="column is one-third">
            <div class="box">
                <figure class="image is-square">
                    <img src="">
                </figure>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="columns block is-mobile">
        <div class="column is one-third">
            <div class="box">
                <figure class="image is-square">
                    <img src="">
                </figure>
            </div>
        </div>
        <div class="column is two-thirds">
            <div class="block">Insert text about first image</div>
        </div>
    </div>
</section>
</html>